@import "resets";
@import "config";
@import "mixins";

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  // display: flex;
  height: 100vh;
  width: 100vw;
  border: 2px solid red;
  // cursor: url("../images/cross--hair.png"), auto;
  cursor: crosshair;
  overflow: hidden;
  position: relative;

}

.target {
  height: 80px;
  width: 80px;
  background-color: green;
  opacity:1;
  position: fixed;
  border-radius: 50%;
  transition: transform .5s ease 0s;
  top: 500px;
  // animation: test 1s linear alternate infinite;
  transform: translateY(0);
}

#div1 {
  width: 50px;
  background-color: blue;
  height: 50px;
    position:absolute;
    top:40%;
    left:40%;
}




// .target-fade-out {
//   opacity: 0;
//   transition: all .5s ease;
// }

.target-out-of-range {
  transform: translateY(-1000%);
  transition: transform .5s ease 1s;
}

.target-in-range {
  top: 0!important;
}



// STYLES GO HERE //


@import "js";
