@import "resets";
@import "config";
@import "mixins";



* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  // display: flex;
  height: 100vh;
  width: 100vw;
  border: 2px solid red;
  background-color: #000;
  padding: 20px;
  cursor: url("../images/cursor_cross_white.png"), crosshair;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  line-height: 1.5em;
  z-index: 1;

}
body:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
  background: url("../images/main-background.png")center center no-repeat,url("../images/bkgrnd.gif") ;
  background-size: contain;
  background-position: bottom;
  opacity: 1;
  z-index: -1;
}

p{
  position: relative;
  z-index: 10;
}

.instructions-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  text-align: center;
  @include flexbox;

  .inner-ins-container {
    background-color: black;
    border: 10px solid red;
    width: 55%;
    height: auto;
    padding: 50px;
    z-index: 999;

    h1 {
      font-size: 2em;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 30px;
    }

  p{
    margin-bottom: 30px;

    .icon {
      height: 80px;
      width: 80px;
      padding: 10px;
      border: 3px solid red;
      background: url('../images/ship-pixel-2.png') center no-repeat;
      background-size: 40px;
      display: block;
      cursor: url("../images/cursor_cross_red.png"), crosshair;
      margin: 20px auto;
    }

    .icon-target2 {
      background: url('../images/ship-pixel-3.png') center no-repeat;
      background-size: 40px;
    }
    span {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }

  }


    .btn {
      font-size: 1.5em;
      padding: 10px;
      background-color: red;
      color: white;
      border: 2px solid red;
    }

    .btn:hover {
      border: 2px solid white;
    }
    .btn:active {
      background-color: white;
      color: red;
    }

  }


}

.instructions-container:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  background: url('../images/intro-background.png') center center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 800;
}

i {
  background: url('../images/life.png') center no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.i-no-life {
  background: url('../images/no-life.png') center no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.target, .target2 {
  height: 60px;
  width: 60px;
  background: url('../images/ship-pixel-2.png');
  background-size: contain;
  opacity:1;
  position: absolute;
  border-radius: 50%;
  // transition: transform .5s ease 0s;
  // top: 0px;
  overflow: visible;
  z-index: 5;
  cursor: url("../images/cursor_cross_red.png"), crosshair;
  transition: top 10s linear;
}

.target2 {
  background: url('../images/ship-pixel-3.png');
}

.target-flame:after {
    @include pseudo;
    height: 50px;
    width: 20px;
    top: -25px;
    left: 21px;
    background: url('../images/flame.gif') no-repeat;
    background-size: contain;
    z-index: -1;
    }
  .target2-flame:after {
    @include pseudo;
    height: 50px;
    width: 20px;
    top: 10px;
    left: -15px;
    background: url('../images/flame.gif') no-repeat;
    background-size: contain;
    z-index: -1;
    transform: rotate(-90deg);
  }

.target-moveDown {
  animation: vertical-ani-down 10s linear 0s infinite backwards;
}

.target-moveRight {
  animation: horizontal-ani-right 10s linear 0s infinite backwards;
}

@keyframes horizontal-ani-right {
  50% {left: 110vw;}
  100% {left: 110vw;}


}

@keyframes vertical-ani-down {

  50% {top:110vh;}
  100% {top:110vh;}
}

#div1{
  width: 150px;
  background-color: transparent;
  height: 100px;
    position:absolute;
    top:90%;
    left:45%;
    z-index: 5;
    background: url('../images/main-ship.png') no-repeat;
    background-size: cover;
      overflow: visible;

      img {
        position: relative;
        opacity: 1;
        display: block;
        // top: -45%;
      }
}

.div1-flame:after {
    @include pseudo;
    height: 50px;
    width: 50px;
    top: 40px;
    left: -4px;
    background-color: red;
    background: url('../images/flame.gif') no-repeat;
    background-size: contain;
   transform: rotate(180deg);
    z-index: -1;
    }


.bg-explosion {
  transition: background 0s linear .1s;
  background: url(../images/explosion.gif);
  // opacity: 0;
  // transition: opacity 0s linear .4s;
}

.display-none {
  display: none;
}

//BULLET CSSS

#laser {
  height: 100px;
  width: 150px;
  position: absolute;
  transition: top 0.2s linear, left 0.2s linear;

  @include flexbox($direction: row);
  top:90%;
  left:45%;
  opacity: 1;
  .inner-laser{
    width: 10px;
    height: 10px;
    background-color: red;
    align-self: baseline;
    margin-top: 20px;
    border-radius: 50%;
    border: 5px solid rgba(255, 0, 0, .5);
  }

}


.laser-return {
  top:90% !important;
  left:45% !important;
  opacity: 0;
}

.on-fire::after,.on-fire::before {
  @include pseudo;
  height: 50px;
  width: 10px;
  top: 0px;
  left: 21px;
  background: url('../images/flame.gif') no-repeat;
  transform: rotate(0deg);
  background-size: contain;
  z-index: -1;
}

.on-fire::before {
  width: 15px;
  top: 30px;
}

.game-over-container, .lost-a-life-container, .you-win-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  text-align: center;
  @include flexbox;
  background: url('../images/intro-background.png') center no-repeat;
  background-size: cover;
  cursor: url("../images/cursor_cross_red.png"), crosshair;
  // background: red;


  .game-over-inside, .lost-a-life-inside, .you-win-inside {
    background-color: black;
    border: 10px solid red;
    width: 55%;
    height: auto;
    padding: 50px;
    z-index: 999;

    h1 {
      font-size: 2em;
      margin-bottom: 20px;

    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
    .btn {
      font-size: 1.5em;
      padding: 10px;
      background-color: red;
      color: white;
      border: 2px solid red;
      cursor: url("../images/cursor_cross_white.png"), crosshair;
    }

    .btn:hover {
      border: 2px solid white;
    }
    .btn:active {
      background-color: white;
      color: red;
    }

  }
}
.lost-a-life-container {
  background: transparent;
}

// STYLES GO HERE //

@import "starfield";
@import "js";
