html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

body {
  height: 100vh;
  width: 100vw;
  border: 2px solid red;
  cursor: crosshair;
  overflow: hidden;
  position: relative; }

.target {
  height: 80px;
  width: 80px;
  background-color: green;
  opacity: 1;
  position: fixed;
  border-radius: 50%;
  transition: transform .5s ease 0s;
  top: 500px;
  -ms-transform: translateY(0);
      transform: translateY(0); }

#div1 {
  width: 50px;
  background-color: blue;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 40%; }

.target-out-of-range {
  -ms-transform: translateY(-1000%);
      transform: translateY(-1000%);
  transition: transform .5s ease 1s; }

.target-in-range {
  top: 0 !important; }
